<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
						https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
	id="WebApp_ID" version="5.0">
	
	<servlet>
        <servlet-name>MyApplication</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MyApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <filter>
	    <filter-name>CorsFilter</filter-name>
	    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	    <init-param>
	        <param-name>cors.allowed.origins</param-name>
	        <param-value>http://localhost:9090,http://localhost:8080,http://127.0.0.1:4200, http://localhost:4200</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.allowed.methods</param-name>
	        <param-value>GET,POST,HEAD,OPTIONS,DELETE,PUT</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.allowed.headers</param-name>
	        <param-value>Content-Type,Authorization,Accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Content-Length,Connection</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.exposed.headers</param-name>
	        <param-value>Authorization,Access-Control-Allow-Origin,Access-Control-Allow-Credentials,Content-Type,Content-Length,Content-Encoding,Connection</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.support.credentials</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>CorsFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>